@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <tr>
        <td>Source code on github at: <a href="https://github.com/eidsonator/todd-noris-dotnet" target="_blank">eidsonator/todd-norris-dotnet</a></td>
    </tr>
    <tr>
        <td>Jokes borrowed from: <a href="https://api.chucknorris.io" target="_blank">chucknorris.io</a></td>
    </tr>
    <tr>
        <td>Written in C# on dotnet core 2.2 with razor pages</td>
    </tr>
    <tr>
        <td>CSS provided by <a href="https://getbootstrap.com/docs/3.3/" target="_blank">Bootstrap 3.3</a></td>
    </tr>
</table>
