@{
    ViewData["Title"] = "Contact Information";
}
<h2>@ViewData["Title"]</h2>

<style>

</style>

<table style="bottom: 0;" class="table">
    <tr>
        <th>Name</th>
        <td>Todd Eidson</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>todd at eidson dot info</td>
    </tr>
    <tr>
        <th>Blog</th>
        <td><a href="https://eidson.info" target="_blank">eidson.info</a></td>
    </tr>
    <tr>
        <th>GitHub</th>
        <td><a href="https://github.com/eidsonator" target="_blank">github.com/eidsonator</a></td>
    </tr>
    <tr>
        <th>Twitter</th>
        <td><a href="https://twitter.com/toddeidson" target="_blank">@@eidsonator</a></td>
    </tr>
    <tr>
        <th>LinkedIn</th>
        <td><a href="https://www.linkedin.com/in/todd-eidson-7a795a31" target="_blank">Todd Eidson</a></td>
    </tr>
</table>